#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.whole-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  justify-content: center;
}

.sideNav {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
}
.crypto-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.crypto-content input {
  width: 30rem;
  height: 4rem;
  padding: 4px 8px;
  border-radius: 11px;
  border: 2px solid #000;
}
.crypto-content input::placeholder {
  color: #999;
}
.crypto-content input:focus::placeholder {
  color: rgba(255, 255, 255, 0);
}
.crypto-content input:focus {
  outline: none;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.whole-page {
  position: relative;
}
